<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form
    (submit)="onRegisterHandler(registerForm)"
    #registerForm="ngForm"
    *ngIf="!isLoading"
  >
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        name="email"
        [ngModel]="user?.email"
        placeholder="yourEmail@dev.com"
        required
        #email="ngModel"
      />
      <mat-error *ngIf="email.invalid">Please enter email.</mat-error>
    </mat-form-field>
    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          name="password"
          [ngModel]="user?.password"
          required
          #password="ngModel"
        />
        <mat-error *ngIf="password.invalid">Please enter password.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          type="text"
          matInput
          name="name"
          [ngModel]="user?.userName"
          placeholder="Enter your name..."
          required
          #name="ngModel"
        />
        <mat-error *ngIf="name.invalid">Please enter your name.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input
          type="text"
          matInput
          [ngModel]="user?.phoneNumber"
          name="phone"
          placeholder="Enter phone number..."
          required
          #phone="ngModel"
        />
        <mat-error *ngIf="phone.invalid"
          >Please enter your phone number.</mat-error
        >
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Skillsets</mat-label>
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let skillset of enteredSkillSets"
          (removed)="removeSkills(skillset)"
        >
          {{ skillset.name }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="Enter your skillsets here"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addSkills($event)"
          [ngModel]="user?.skillsets"
          #skillsets="ngModel"
          name="skillset"
        />
      </mat-chip-list>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hobbies</mat-label>
      <mat-chip-list #chipListHobbies>
        <mat-chip
          *ngFor="let hobbies of enteredHobbies"
          (removed)="removeHobbies(hobbies)"
        >
          {{ hobbies.name }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="Enter your hobbies here"
          [matChipInputFor]="chipListHobbies"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addHobbies($event)"
        />
      </mat-chip-list>
    </mat-form-field>

    <div>
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </div>
  </form>
</mat-card>
